.game-state {
  margin-bottom: 50px;
}
.game-state-count {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 50%;
  //padding: 5px 15px;
}

.bg-green {
  background-color: green;
}

.bg-brown {
  background-color: brown;
}
.bg-blue {
  background-color: blue;
}

.card,
.show-card-btn {
  display: inline-block;
  width: 238px;
  height: 349px;
  background-color: black;
  background-size: contain;
}

.show-card-btn {
  margin-right: 10px;
  background: url('../../../assets/mythicCardBackground.png');
  cursor: pointer;
}

.stage-wrapper {
  &.stage-complited {
    opacity: .5
  }
  &.stage-active {
    .stage-name {
      color: red;
    }
  }
}